.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.container {
  margin-top: 20px;
}
.pagination {
  text-align: center;
  margin: 40px;
}
.pagination button {
  margin-right: 10px;
}

.pagination .selected {
  background: #ff0099;
}
